Repository vitonsky/react-elegant-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

fix: add extracted props in popup bundle
  package.json
  src/components/Popup/Popup.bundle/desktop.tsx
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

0.1.34
  package.json
Due: prettier --write --parser json

build: ignore type errors in libraries
  tsconfig.json
Due: prettier --write --parser json

chore: add meta info
  package.json
  scripts/gulp/cleanPackageJson.js
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

docs: update roadmap
  docs-site/README.md
  docs-site/package.json
Due: prettier --write --parser markdown, textlint --fix, prettier --write --parser json

0.1.35
  package.json
Due: prettier --write --parser json

docs: fix search container position
  docs-site/components/Search/Search.tsx
  src/hooks/behavior/usePopper/usePopper.ts
Due: prettier --write, eslint --fix, stylelint --fix

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore: configure indent styles on github
  .editorconfig
Due: none

Update .editorconfig
  .editorconfig
Due: none

docs: add basePath, fix types
  docs-site/README.md
  docs-site/components/Link/Link.tsx
  docs-site/components/Search/Search.tsx
  docs-site/lib/markdown/lib/walker.ts
  docs-site/lib/markdown/utils/replaceURLs.ts
  docs-site/lib/markdown/utils/toText.ts
  docs-site/lib/pages/getMarkdownPageData.ts
  docs-site/lib/utils.ts
  docs-site/next.config.js
  docs-site/package.json
  docs-site/pages/[...slug].tsx
  docs-site/pages/_app.tsx
  docs-site/tsconfig.json
  package.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

chore: make husky scripts are executable
  .husky/commit-msg
  .husky/pre-commit
Due: none

docs: update readme
  README.md
Due: prettier --write --parser markdown, textlint --fix

Create docs.yml
  .github/workflows/docs.yml
Due: prettier --write

Update docs.yml
  .github/workflows/docs.yml
Due: prettier --write

build: configure docs build action
  .github/workflows/docs.yml
Due: prettier --write

chore: update husky
  .husky/.gitignore
  package.json
Due: prettier --write --parser json

docs: add demo to docs site
  .github/workflows/docs.yml
  docs-site/package.json
  docs-site/pages/_app.tsx
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

docs: remove unnecessary build script
  docs-site/package.json
Due: prettier --write --parser json

chore: fix example
  src/components/Popup/__examples__/common.example.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(compose): implement full feature generic for `compose`
  src/lib/compose/compose.tsx
  src/lib/compose/types.ts
  src/types/utility-types.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(compose): implement full feature generic for `composeUD`
  src/lib/compose/composeUD.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: temporary return back to stupid implementation
  src/lib/compose/compose.tsx
  src/lib/compose/composeU.tsx
  src/lib/compose/composeUD.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: ignore idea files
  .gitignore
Due: none

fix: compose types
  src/lib/compose/types.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: implement Modal component PoC
  examples/components-list/src/ComponentsListing.tsx
  src/components/Modal/Modal.bundle/desktop.ts
  src/components/Modal/Modal.css
  src/components/Modal/Modal.tsx
  src/components/Modal/__examples__/common.example.tsx
  src/components/Modal/_view/Modal_view_default.css
  src/components/Modal/_view/Modal_view_default.ts
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.yml)
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  textlint --fix: any of: *.md
  prettier --write --parser json: any of: *.json
