Repository vitonsky/react-elegant-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

chore: update lib version for docs site
  docs-site/package.json
Due: prettier --write --parser json

chore(#254): update email in LICENSE file
  LICENSE
Due: none

fix(#210): typescript errors
  src/components/Checkbox/Control/Checkbox-Control.tsx
  src/components/Select/NativeControl/Select-NativeControl.tsx
  src/hooks/behavior/useInlineKeyboardSearch.ts
  src/hooks/behavior/useKeyboardNavigation.ts
  src/lib/compose/types.ts
  src/lib/compose/utils.ts
  src/lib/deepMerge.ts
  src/lib/di/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(#257): allow to override type
  src/components/Textinput/Control/Textinput-Control.tsx
Due: prettier --write, eslint --fix, stylelint --fix

docs(#240): update docusaurus config
  docs-site/docusaurus.config.ts
  docs-site/package.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

ci(#240): update config
  .github/workflows/docs.yml
Due: prettier --write

ci(#265): update node version
  .github/workflows/docs.yml
Due: prettier --write

chore(#267): publish lock files
  .gitignore
  docs-site/package-lock.json
  package-lock.json
Due: prettier --write --parser json

vitonsky published a site update
  404.html
  Component development/ComponentNaming/index.html
  Component development/DesignSystem/index.html
  Component development/Introduction/index.html
  Component development/Notes/index.html
  Contributing/CLA/index.html
  Contributing/ContributingRules/index.html
  Introduction/ComponentArchitecture/index.html
  Introduction/ComponentFileStructure/index.html
  Introduction/GettingStarted/index.html
  Introduction/PackageStructure/index.html
  Introduction/Theming/index.html
  Introduction/Tokens/index.html
  assets/js/main.ab4c684b.js
  assets/js/main.ab4c684b.js.LICENSE.txt
  assets/js/main.b09146fc.js
  index.html
  lunr-index-1701215483527.json
  lunr-index-1701216406105.json
  search-doc-1701215483527.json
  search-doc-1701216406105.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

0.3.4
  package-lock.json
  package.json
Due: prettier --write --parser json

docs(#135): setup storybook
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/stories/Button.stories.tsx
  .storybook/stories/Dashboard.stories.tsx
  .storybook/stories/Icon.stories.tsx
  .storybook/stories/Menu.stories.tsx
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

ci(#135): ignore storybook linting
  .lintstagedrc
  .stylelintignore
  .stylelintrc
Due: none

refactor(#135): introduce packages directory
  package-lock.json
  package.json
  packages/docs-site/.gitignore
  packages/docs-site/README.md
  packages/docs-site/babel.config.js
  packages/docs-site/docusaurus.config.ts
  packages/docs-site/package-lock.json
  packages/docs-site/package.json
  packages/docs-site/sidebars.ts
  packages/docs-site/static/.nojekyll
  packages/docs-site/tsconfig.json
  packages/storybook/.storybook/main.ts
  packages/storybook/.storybook/preview.ts
  packages/storybook/.storybook/stories/Button.stories.tsx
  packages/storybook/.storybook/stories/Dashboard.stories.tsx
  packages/storybook/.storybook/stories/Icon.stories.tsx
  packages/storybook/.storybook/stories/Menu.stories.tsx
  packages/storybook/package.json
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

refactor(#135): move dependencies
  package-lock.json
  package.json
  packages/docs-site/package-lock.json
  packages/storybook/.storybook/main.ts
  packages/storybook/package.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

chore(#135): setup yarn
  .gitattributes
  .gitignore
  .yarn/install-state.gz
  gulpfile.js
  package-lock.json
  package.json
  packages/docs-site/docs/Component development/ComponentNaming.md
  packages/docs-site/docs/Component development/DesignSystem.md
  packages/docs-site/docs/Component development/Introduction.md
  packages/docs-site/docs/Component development/Notes.md
  packages/docs-site/docs/Contributing/CLA.md
  packages/docs-site/docs/Contributing/ContributingRules.md
  packages/docs-site/docs/Introduction/About.md
  packages/docs-site/docs/Introduction/ComponentArchitecture.md
  packages/docs-site/docs/Introduction/ComponentFileStructure.md
  packages/docs-site/docs/Introduction/GettingStarted.md
  packages/docs-site/docs/Introduction/PackageStructure.md
  packages/docs-site/docs/Introduction/Theming.md
  packages/docs-site/docs/Introduction/Tokens.md
  packages/docs-site/docs/README.md
  packages/docs-site/docusaurus.config.ts
  packages/docs-site/package.json
  packages/storybook/package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

chore(#135): use yarn for scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(#135): setup yarn for vscode
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/bin-prettier.js
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

chore(#135): update ignore file for stylelint
  .stylelintignore
Due: none

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.yml)
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  textlint --fix: any of: *.md
  prettier --write --parser json: any of: *.json
