Repository vitonsky/react-elegant-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, textlint --fix, prettier --write --parser json

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"prettier --write",
		"eslint --fix",
		"stylelint --fix"
	],
	"*.md": [
		"prettier --write --parser markdown",
		"textlint --fix"
	],
	"*.json": [
		"prettier --write --parser json"
	],
	"*.yml": [
		"prettier --write"
	]
}

feat(Modal): implement keepMounted and scope options
  examples/components-list/src/ComponentsListing.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/__examples__/common.example.tsx
  src/components/Popup/Popup.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: implement `useIsReadyToCSR`
  src/hooks/useIsReadyToCSR.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(Modal): implement renderAll modifier
  src/components/Modal/Modal.bundle/desktop.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/_renderAll/Modal_renderAll.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: add scroll locker
  src/lib/platform.ts
  src/lib/scroll-locker/LICENSE
  src/lib/scroll-locker/README.md
  src/lib/scroll-locker/ScrollLocker.ts
  src/lib/scroll-locker/StandartScrollLocker.ts
  src/lib/scroll-locker/TouchScrollLocker.ts
  src/lib/scroll-locker/index.ts
  src/lib/scroll-locker/utils.ts
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, textlint --fix

feat: add usePreventScroll hook
  src/hooks/usePreventScroll.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: implement modifier preventBodyScroll
  src/components/Modal/Modal.bundle/desktop.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/__examples__/common.example.tsx
  src/components/Modal/_preventBodyScroll/Modal_preventBodyScroll.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore(Modal): add animation
  src/components/Modal/LICENSE
  src/components/Modal/Modal.bundle/desktop.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/_view/Modal_view_default.css
  src/components/Modal/_view/Modal_view_default.ts
  src/components/Modal/_view/Modal_view_default.tsx
  src/components/Modal/_view/Modal_view_default@desktop.css
  src/components/Modal/_view/Modal_view_default@desktop.tsx
  src/lib/compose/withClassnameHOC.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(Modal): add renderToStack modifier
  src/components/Modal/Modal.bundle/desktop.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/__examples__/common.example.tsx
  src/components/Modal/_renderToStack/Modal_renderToStack.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore(docs-site): add build:dev script
  docs-site/package.json
Due: prettier --write --parser json

chore(Modal): move colors to tokens
  src/components/Modal/Modal.tokens/Modal.tokens.yml
  src/components/Modal/_view/Modal_view_default.css
  src/theme/presets/dark/color.css
  src/theme/presets/dark/root.css
  src/theme/presets/default/color.css
  src/theme/presets/default/root.css
  src/theme/presets/wine/color.css
  src/theme/presets/wine/root.css
  src/theme/tokens/dark-color.tokens.yml
  src/theme/tokens/light-color.tokens.yml
  src/theme/tokens/wine-color.tokens.yml
Due: prettier --write

chore: implement renderAll mod for Popup
  src/components/Modal/Modal.tsx
  src/components/Popup/Popup.bundle/desktop.tsx
  src/components/Popup/Popup.tsx
  src/components/Popup/_renderAll/Popup_renderAll.tsx
Due: prettier --write, eslint --fix, stylelint --fix

0.2.0
  package.json
Due: prettier --write --parser json

Revert "chore: temporary return back to stupid implementation"
  src/lib/compose/compose.tsx
  src/lib/compose/composeU.tsx
  src/lib/compose/composeUD.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(compose): implement full feature generic for composeU
  src/lib/compose/compose.tsx
  src/lib/compose/composeU.tsx
  src/types/utility-types.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: use ComplexUnionToIntersection instead of DeepMerge
  src/components/Select/List/Select-List.tsx
  src/types/union.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: implement correct convertation unions to intersections
  src/types/utility-types.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(compose): move specific types to lib dir
  src/components/Select/List/Select-List.tsx
  src/lib/compose/compose.tsx
  src/lib/compose/composeU.tsx
  src/lib/compose/types.ts
  src/types/utility-types.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(compose): simplify `ObjectsUnionToIntersection`
  src/components/Select/List/Select-List.tsx
  src/lib/compose/composeU.tsx
  src/lib/compose/types.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore(compose): fix docs typos
  src/lib/compose/README.md
  src/lib/compose/compose.tsx
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, textlint --fix

0.3.0
  package.json
Due: prettier --write --parser json

feat(Modal): add hideBackdrop option
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: add onInputText knob to text inputs
  src/components/Textarea/Textarea.tsx
  src/components/Textarea/__examples__/common.example.tsx
  src/components/Textinput/Textinput.tsx
  src/components/Textinput/__examples__/common.example.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(Modal): #137 use flexbox to align center
  src/components/Modal/Modal.css
  src/components/Modal/_view/Modal_view_default.css
Due: none

feat(Button): #58 add view link
  src/components/Button/Button.bundle/desktop.ts
  src/components/Button/Button.tokens/Button.tokens.yml
  src/components/Button/__examples__/common.example.tsx
  src/components/Button/_view/Button_view_link.css
  src/components/Button/_view/Button_view_link.tsx
  src/theme/presets/dark/color.css
  src/theme/presets/default/color.css
  src/theme/presets/wine/color.css
Due: prettier --write, eslint --fix, stylelint --fix

chore: update dev dependencies
  package.json
Due: prettier --write --parser json

feat(Button): #58 disable pressAnimation for view link
  src/components/Button/_pressAnimation/Button_pressAnimation.tsx
Due: prettier --write, eslint --fix, stylelint --fix

build: use gulp-clean-package
  gulpfile.js
  package.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

build: ignore js files for style lint
  .stylelintrc
Due: none

chore: update stylelint
  package.json
Due: prettier --write --parser json

ci: update react version
  package.json
Due: prettier --write --parser json

0.3.1
  package.json
Due: prettier --write --parser json

chore(#18): remove @bem-react/di from peer deps
  package.json
Due: prettier --write --parser json

docs(#18): remove @bem-react/di from docs site
  docs-site/package.json
  docs/Introduction/GettingStarted.md
Due: prettier --write --parser markdown, textlint --fix, prettier --write --parser json

docs: update docs site
  docs-site/components/CodeBlock/CodeBlock.tsx
  docs-site/components/Layout/Layout.tsx
  docs-site/next-env.d.ts
  docs-site/next.config.js
  docs-site/package.json
  docs-site/tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

0.3.2
  package.json
Due: prettier --write --parser json

chore(di): remove debug hooks
  src/lib/di/index.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

chore: use react 17 for dev purposes
  package.json
Due: prettier --write --parser json

0.3.3
  package.json
Due: prettier --write --parser json
